<%= form_for(@holiday) do |f| %>
  <% if @holiday.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@holiday.errors.count, "error") %> prohibited this holiday from being saved:</h2>

      <ul>
      <% @holiday.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dateTo %><br>
    <%= f.date_select :dateTo %>
  </div>
  <div class="field">
    <%= f.label :dateFrom %><br>
    <%= f.date_select :dateFrom %>
  </div>
  <div class="field">
    <%= f.label :Department %><br>
    <%= f.text_field :Department %>
  </div>
  <div class="field">
    <%= f.label :Employee %><br>
    <%= f.text_field :Employee %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
